<body>
<h2>Questions</h2>
<div>
  <div class="ques">
    <h3>
      {{ currentQuestionNo + 1 }}. {{ questions[currentQuestionNo].question }}
    </h3>
    <div>
      <div class="option">
        <label>
          <div *ngFor="let option of questions[currentQuestionNo].options;let i=index"
               (click)="optionClicked(option,questions[currentQuestionNo].id);selectedIndex=''+i"
               class="{{selectedIndex==''+i?'optiondisabled':'option'}}">
            {{ option }}
          </div>
        </label>
      </div>
    </div>
    <hr />
    <span>{{ currentQuestionNo + 1 }} of {{ questions.length }} Questions</span>
    <div class="btn">
      <Button [disabled]="selectedIndex==''" (click)="submitAnswers()">{{currentQuestionNo + 1 == questions.length?'submit':'Next'}}</Button>
    </div>
  </div>
</div>
</body>
<!-- <router-outlet></router-outlet> -->
